* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  font-size: 62.5%;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.mask.active {
  opacity: 1;
  visibility: visible;
}

#header {
  height: 100vh;
  background-image: url(images/background.png);
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 770px) {
  #header {
    background-image: none;
  }
}

.square {
  height: 12px;
  width: 12px;
  display: inline-block;
  background-color: #f67c92;
  margin: 15px 0;
}

.line {
  line-height: 8px;
}

.line .line-1 {
  width: 15px;
  height: 15px;
  background-color: #f67c92;
  display: inline-block;
}

.line .line-2 {
  width: 80px;
  height: 1px;
  background-color: #f67c92;
  display: inline-block;
}

.line .line-3 {
  width: 60px;
  height: 1px;
  background-color: #f67c92;
  display: inline-block;
}

.container {
  margin-right: 100px;
  margin-left: 100px;
}

@media screen and (max-width: 770px) {
  .container {
    margin-right: 50px;
    margin-left: 50px;
  }
}

.container .logo {
  margin-top: 30px;
  width: 100px;
}

@media screen and (max-width: 770px) {
  .container .logo {
    margin-top: 27px;
    width: 70px;
  }
}

.container .header-text {
  max-width: 350px;
  margin-top: 50px;
}

@media screen and (max-width: 770px) {
  .container .header-text {
    margin-top: 100px;
  }
}

.container .header-text h1 {
  font-size: 3.4rem;
}

@media screen and (max-width: 770px) {
  .container .header-text h1 {
    font-size: 2.3rem;
  }
}

.container .header-text p {
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #777;
}

.common-btn {
  padding: 18px 40px;
  background-color: transparent;
  outline: none;
  border: 2px solid #f67c92;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 60px;
  font-size: 1.6rem;
}

#sideNav {
  width: 250px;
  height: 100vh;
  position: fixed;
  right: -250px;
  top: 0;
  background-color: #f67c92;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  z-index: 2;
}

#sideNav li {
  list-style: none;
  margin: 50px 20px;
}

#sideNav li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
}

#menuBtn {
  width: 50px;
  position: fixed;
  right: 65px;
  top: 35px;
  z-index: 2;
  cursor: pointer;
}

@media screen and (max-width: 770px) {
  #menuBtn {
    width: 40px;
    right: 50px;
  }
}

#about,
#offer {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#about .about-left-col,
#offer .about-left-col {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media screen and (max-width: 770px) {
  #about .about-left-col,
  #offer .about-left-col {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

#about .about-left-col img,
#offer .about-left-col img {
  width: 100%;
}

#about .about-right-col,
#offer .about-right-col {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: right;
}

@media screen and (max-width: 770px) {
  #about .about-right-col,
  #offer .about-right-col {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

#about .about-right-col .about-text,
#offer .about-right-col .about-text {
  max-width: 500px;
  margin-right: 100px;
  display: inline-block;
}

@media screen and (max-width: 770px) {
  #about .about-right-col .about-text,
  #offer .about-right-col .about-text {
    margin: 50px 50px 0;
    display: inline-block;
  }
}

#about .about-right-col .about-text h1,
#offer .about-right-col .about-text h1 {
  font-size: 3rem;
}

#about .about-right-col .about-text p,
#offer .about-right-col .about-text p {
  font-size: 1.5rem;
}

#about .about-right-col .about-text h2,
#offer .about-right-col .about-text h2 {
  font-size: 2.5rem;
  margin: 50px 10px 10px;
  font-style: italic;
}

@media screen and (max-width: 770px) {
  #about .about-right-col .about-text h2,
  #offer .about-right-col .about-text h2 {
    font-size: 1.8rem;
  }
}

#about .about-right-col .about-text h3,
#offer .about-right-col .about-text h3 {
  font-size: 1.8rem;
  font-style: italic;
  color: #797979;
}

.common-btn {
  padding: 18px 40px;
  background-color: transparent;
  outline: none;
  border: 2px solid #f67c92;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 60px;
  font-size: 1.6rem;
}

@media screen and (max-width: 770px) {
  .common-btn {
    padding: 10px 16px;
  }
}

#features {
  padding-top: 50px;
  padding-bottom: 50px;
}

#features .feature-row {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#features .feature-row .feature-col {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  text-align: center;
}

@media screen and (max-width: 770px) {
  #features .feature-row .feature-col {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 20px;
  }
}

#features .feature-row .feature-col img {
  width: 100px;
}

#features .feature-row .feature-col h4 {
  margin-bottom: 15px;
  font-size: 2rem;
  font-weight: 400;
}

#features .feature-btn {
  margin: 80px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#features .feature-btn .common-btn {
  padding: 18px 40px;
  background-color: transparent;
  outline: none;
  border: 2px solid #f67c92;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 60px;
  font-size: 1.6rem;
}

#features .feature-btn .line {
  text-align: right;
  display: inline-block;
  margin-right: 25px;
  padding-bottom: 60px;
}

#courses {
  padding: 100px 0;
}

#courses .course-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#courses .course-row .course-right-col {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media screen and (max-width: 770px) {
  #courses .course-row .course-right-col {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 70px;
  }
}

#courses .course-row .course-right-col img {
  width: 100%;
}

#courses .course-row .course-left-col {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media screen and (max-width: 770px) {
  #courses .course-row .course-left-col {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

#courses .course-row .course-left-col .course-text {
  max-width: 350px;
}

#courses .course-row .course-left-col .course-text h1 {
  font-size: 3rem;
}

#courses .course-row .course-left-col .course-text p {
  font-size: 1.5rem;
}

#courses .course-row .course-left-col .course-text button {
  margin: 30px 0;
}

.contact-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-row h1 {
  font-size: 3rem;
}

.contact-row .contact-left-col,
.contact-row .contact-right-col {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media screen and (max-width: 770px) {
  .contact-row .contact-left-col,
  .contact-row .contact-right-col {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media screen and (max-width: 770px) {
  .contact-row .contact-right-col {
    margin-top: 50px;
  }
}

.contact-row .contact-right-col img {
  width: 100%;
}

.contact-row form {
  max-width: 350px;
  margin: 30px 0;
}

.contact-row form input {
  width: 100%;
  padding: 12px 10px;
  margin-bottom: 5px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid #fab3c4;
}

.contact-row form .btn-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-row form .btn-box button {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  padding: 18px 0;
}

#footer {
  padding: 50px 0 30px;
}

#footer hr {
  width: 100%;
  border: 0;
  border-top: 1px solid #f67c92;
}

#footer .footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#footer .footer-row .footer-left-col {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-top: 60px;
}

@media screen and (max-width: 770px) {
  #footer .footer-row .footer-left-col {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

#footer .footer-row .footer-left-col .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 770px) {
  #footer .footer-row .footer-left-col .footer-links .link-title {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: 30px;
  }
}

#footer .footer-row .footer-left-col .footer-links .link-title h4 {
  font-size: 2rem;
  color: #fab3c4;
  margin-bottom: 20px;
}

#footer .footer-row .footer-left-col .footer-links .link-title small {
  font-size: 1.3rem;
  color: #777;
}

#footer .footer-row .footer-right-col {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}

@media screen and (max-width: 770px) {
  #footer .footer-row .footer-right-col {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

#footer .footer-row .footer-right-col .footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#footer .footer-row .footer-right-col .footer-info small {
  font-size: 1.3rem;
}

#footer .footer-row .footer-right-col .footer-info .footer-logo img {
  width: 100%;
}

#footer .footer-row .footer-right-col .footer-info .footer-logo button {
  padding: 12px 38px;
  margin-top: 20px;
  font-size: 1rem;
}

#footer .footer-row .footer-right-col .footer-info .copyright-text,
#footer .footer-row .footer-right-col .footer-info .footer-logo {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.social-icons {
  width: 50px;
  position: fixed;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
}

.social-icons img {
  display: block;
  width: 20px;
  margin: 0 auto 20px;
  cursor: pointer;
}

@media screen and (max-width: 770px) {
  .social-icons img {
    width: 14px;
    margin: 15px auto;
  }
}
/*# sourceMappingURL=style.css.map */